* {
    font-family: 'Creepster', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    background: radial-gradient(#9D5900, #3D2200);
}

.page-title {
    color: #FF6D00;
    text-align: center;
    font-size: 6em;
}

.game-info {
    color: #FFBB89;
    font-size: 4em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    cursor: url("Assets/Cursors/GhostHover.cur"), auto;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.card-back {
    background-color: black;
    border-color: #FF6D00;
    transform: rotateY(0);
}

.card-face:hover .cob-web {
    width: 52px;
    height: 52px;
}

.cob-web {
    position: absolute;
    transition: 0.1s ease-in-out;
    width: 47px;
    height: 47px;
}

.cob-web-top-left {
    transform: rotate(270deg);
    top: 0;
    left: 0;
}

.cob-web-top-right {
    top: 0;
    right: 0;
}

.cob-web-bottom-left {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}

.cob-web-bottom-right {
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}

.spider {
    align-self: flex-start;
    transition: transform 0.1s ease-in-out;
    transform: translateY(-10px);
}

.card-back:hover .spider {
    transform: translateY(0);
}

.card-value {
    position: relative;
    transition: transform 0.1s ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card-front {
    background-color: #FFBB89;
    border-color: #333;
    transform: rotateY(180deg);
}

@keyframes dance {

    0%,
    100% {
        transform: rotate(0)
    }

    25% {
        transform: rotate(-30deg)
    }

    75% {
        transform: rotate(30deg)
    }
}